<ul id="roles" class="list-group">
    <li class="list-group-item">
        <div class="properties">
            <div class="related">
                <a class="edit btn btn-primary btn-sm" role="button" asp-action="CreateUsersFromProfile">@T["Run"]</a>
            </div>
            Create users from profiles if the user does not exist. <br /><small><em>User name/Email will be created from the title provided on the profile content item.</em></small>
        </div>
    </li>
</ul>