@using Etch.OrchardCore.UserProfiles.ViewModels;
@model ProfilePartViewModel

@{
    var readOnly = Model.UserName == string.Empty ? false : true;
}

<p class="small"><strong>Note:</strong> Creating a profile would also creates a user on Orchard.</p>

<fieldset class="form-group" asp-validation-class-for="UserName">
    <label asp-for="UserName">@T["Username"]</label>
    <input asp-for="UserName" class="form-control content-preview-text content-caption-text" readonly="@(readOnly)" autofocus="autofocus" />
    <span asp-validation-for="UserName"></span>
    @if (Model.Id != 0)
    {
        <span class="hint">@T["Username of linked user."] <a href="@(Model.SiteURL == "/" ? Model.SiteURL : string.Format("{0}/", Model.SiteURL))OrchardCore.Users/Admin/Edit/@Model.Id">View User</a></span>
    }
</fieldset>
