@model Etch.OrchardCore.UserProfiles.SubscriptionAccessGrouping.ViewModels.SubscriptionAccessSettingsViewModel;
@using Etch.OrchardCore.UserProfiles.SubscriptionAccessGrouping.ViewModels;

<fieldset class="form-group" asp-validation-class-for="UnauthorisedRedirectPath">
    <label asp-for="UnauthorisedRedirectPath">@T["Unauthorised Redirect Path"] <span asp-validation-for="UnauthorisedRedirectPath"></span></label>
    <input asp-for="UnauthorisedRedirectPath" class="form-control content-preview-text content-caption-text" />
    <span class="hint">Users will be redirected to this URL when they don’t have the appropriate subscription to access content item.</span>
</fieldset>